@using DBShop.Models
@using Microsoft.EntityFrameworkCore;
@model DbSet<CustomerModel>
@foreach (var item in Model)
{
    <div>
        <p>Name:@item.FirstName @item.SecondName</p>
        <p>Age:@item.Age</p>
        @Html.ActionLink("Delete", "DeleteCustomer", new { customerid = item.Id })
        @Html.ActionLink("Update", "UpdateCustomer", new { customerid = item.Id })
        @Html.ActionLink("Orders", "Orders", new { customerid = item.Id })

    </div>
    <br />
    <hr />
}



@Html.ActionLink("Add Customer", "CreateCustomer")
@Html.ActionLink("Data Grid(View All)", "DataGrid")
<br />
<h1>Calculator</h1>
@using (Ajax.BeginForm("PartialCalc", new AjaxOptions { UpdateTargetId = "l_res" }))
{
    <input type="number" name="num1" step="0.01" />
    @Html.DropDownList("select", new SelectList(new string[] { "+", "-", "*", "/" }, "+"))
    <input type="number" name="num2" step="0.01" />
    <input type="submit" value="=" id="res" />
    <label for="res" id="l_res"></label>
}

@Scripts.Render("~/bundles/jquery")
<script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>